<app-new-sidebar #sidebar (save)="closeSidebar($event)">
  <app-header
    [query]="store.query()"
    [view]="store.view()"
    (addNewItem)="sidebar.open()"
    (changeView)="store.changeView($event)"
    (search)="store.search($event)"
  />
  @if (store.view() === 1) {
  <app-table
    [data]="store.displayedItems().items"
    [count]="store.displayedItems().count"
    [query]="store.query()"
    [pageSize]="store.pageSize()"
    (sortChanges)="store.changeSort($event.active, $event.direction)"
    (pageChanges)="store.changePage($event.pageIndex, $event.pageSize)"
    (editItem)="sidebar.open($event)"
  />
  } @else {
  <app-grid
    [items]="store.displayedItems().items"
    (editItem)="sidebar.open($event)"
  />
  }
</app-new-sidebar>
